<header>
  <a href="/"><%= image_tag('logo.png') %></a>
  <nav>
		<ul class="nav">
			<li class="nav-list"><a href="#portfolio">Portfolio</a></li>
			<li class="nav-list"><a href="#feature">Feature</a></li>
			<li class="nav-list"><a href="#profile">Profile</a></li>
			<li class="nav-list"><a href="#contact">Contact</a></li>
			<li class=nav-list></li>
		</ul>
	</nav>
</header>